{% extends 'main/main.html' %}

{% block content %}

<div class="p-3 m-auto align-items-center">
    <form class="text-center" action="" method="POST">
        {% csrf_token %}
        <table class="p-3 m-auto align-items-center">
            <tr>
                <th>Name</th>
                <th>Permissions</th>
            </tr>
            <tr>
                {% for field in form %}
                <td>{{field}}</td>
                {% endfor %}
            </tr>
        </table>
        <input class="m-auto btn btn-success" type="submit" name="modify" id="">
        <a class="m-auto btn btn-danger" href="{% url 'admin' %}">cancel</a>
    </form>
</div>

{% endblock %}