{% extends 'main/main.html' %}

{% block content %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">username</label>
        <input type="text" name="username" id="">

        <label for="password">password</label>
        <input type="password" name="password" id="">

        <input type="submit" name="login" id="" value="login">

        <div>
            {% for message in messages %}

            <p>{{message}}</p>

            {% endfor %}
        </div>
        
        <div>
            <p>don't have an account? <a href="{% url 'register' %}">sign up</a></p>
        </div>
    </form>
    
</div>

{% endblock %}