{% extends 'main/main.html' %}

{% block content %}

<div class="row p-3 m-auto align-items-center">

    <table class="text-center border p-5 mb-5">
        <p class="text-center fs-4">customers</p>
        <tr class="bg-light">
            <th>username</th>
            <th>email</th>
            <th>groups</th>
            <th>is admin</th>
            <th>is staff</th>
            <th>joined</th>
        </tr>
        {% for user in users %}
        {% if not user.is_superuser and not user.is_staff %}
        <tr class="border">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.groups}}</td>
            <td>{{user.is_superuser}}</td>
            <td>{{user.is_staff}}</td>
            <td>{{user.date_joined}}</td>
            <td><a class="m-auto btn btn-success" href="{% url 'update_usr' user.id %}">modify</a></td> 
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div class="text-center mt-5">
        <p class="fs-5 text-warning">location: users/templates/users/moderator.html</p>
        <p class="fs-5 text-warning">views -> moderation(request)</p>
        <p class="fs-5 text-warning">urls -> moderation/ -> views.moderation</p>
    </div>
</div> 

{% endblock %}