{% extends 'main/main.html' %}


{% block content %}

<div class="w-25 p-3 m-auto align-items-center">
    <form action="" method="POST" class="row text-center">
        {% csrf_token %}
        {% for field in form %}
        <label class="mt-5 mb-2 text-dark fs-5" for="">{{field.label}}</label>
        {{field}}
        
        {% endfor %}
        <input class="w-25 mt-5 m-auto btn btn-success" type="submit" name="register" id="" value="register">

<!-- shows a custom message of success -->
        <div>
            {% for message in messages %}

            <p>{{message}}</p>

            {% endfor %}
        </div>

<!-- shows errors if the form is not filled correctly -->
        <div>
            <p>{{form.errors}}</p>
        </div>
        
        <div>
            <p class="fs-4">already registered? <a href="{% url 'login' %}">Login</a></p>
            <p class="fs-5 text-warning">location: users/templates/users/register.html</p>
            <p class="fs-5 text-warning">views -> register(request)</p>
            <p class="fs-5 text-warning">urls -> register/ -> views.register</p>
        </div>

    </form>
</div>

{% endblock %}