{% extends 'main/main.html' %}

{% block content %}

<div class="p-3 m-auto align-items-center">
    <form class="text-center" action="" method="POST">
        {% csrf_token %}
        <table class="p-3 m-auto align-items-center">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Groups</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>staff</th>
            </tr>
            <tr>
                {% for field in form %}
                <td>{{field}}</td>
                {% endfor %}
            </tr>
        </table>
        <input class="m-auto btn btn-success" type="submit" name="modify" id="">
        {% if user.is_superuser %}
        <a class="m-auto btn btn-danger" href="{% url 'admin' %}">cancel</a>
        {% else %}
        <a class="m-auto btn btn-danger" href="{% url 'moderation' %}">cancel</a>
        {% endif %}
    </form>
</div>

{% endblock %}