<header class="navbar bg-light p-3 row align-items-center">
    <div class="text-center">
        <a class="m-3" href="/"><img src="https://i.ibb.co/wyGDpjr/product.png" alt="logo" width="40" height="40"></a>
        <a class="m-3 text-decoration-none text-dark fs-5" href="{% url 'about' %}">about us</a>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a class="m-3 text-decoration-none text-dark fs-5" href="/products/list">products</a>
        <a class="m-3 text-decoration-none text-dark fs-5" href="/usr/admin">admin panel</a>
        <a class="m-3 text-decoration-none text-dark fs-5" href="/usr/logout">logout</a>
        {% elif user.is_staff %}
        <a class="m-3 text-decoration-none text-dark fs-5" href="/products/list">products</a>
        <a class="m-3 text-decoration-none text-dark fs-5" href="/usr/moderation">moderation</a>
        <a class="m-3 text-decoration-none text-dark fs-5" href="/usr/logout">logout</a>
        {% else %}
        <a class="m-3 text-decoration-none text-dark fs-5" href="/products/list">products</a>
        <a class="m-3 text-decoration-none text-dark fs-5" href="/usr/logout">logout</a>
        {% endif %}
    {% else %}
    <a class="m-3 text-decoration-none text-dark fs-5" href="/usr/login">login</a>
    <a class="m-3 text-decoration-none text-dark fs-5" href="/usr/register">register</a>
    {% endif %}
    </div>
</header>
 