{% extends 'main/main.html' %}


{% block content %}

<div class="p-3 w-25 m-auto align-items-center">
        <form action="" method="POST" class="row text-center">
            {% csrf_token %}
            {% for field in form %}
            <label class="mt-5 mb-2 text-dark fs-5" for="">{{field.label}}</label>
            {{field}}
            
            {% endfor %}
            <input class="w-25 mt-5 m-auto btn btn-success" type="submit" name="add_sett" id="" value="add">
            <a class="w-25 mt-5 m-auto btn btn-danger" href="{% url 'product_list' %}">cancel</a>
        </form>
</div>

{% endblock %}