{% extends 'main/main.html' %}

{% block content %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>Name</th>
                <th>Permissions</th>
            </tr>
            <tr>
                {% for field in form %}
                <td>{{field}}</td>
                {% endfor %}
            </tr>
        </table>
        <input type="submit" name="modify" id="">
        <a href="{% url 'product_list' %}">cancel</a>
    </form>
</div>

{% endblock %}