{% extends 'main/main.html' %}

{% block content %}
<div class="row p-3 m-auto align-items-center">
    <table class="p-3 m-auto align-items-center">
        <tr class="text-center bg-light">
            <th>title</th>
            <th>price</th>
            <th>category</th>
            <th>description</th>
        </tr>
        {% for element in single %}
    
        <tr class="text-center p-5 fs-5">
            <td >{{element.prod_title}}</td>
            <td>{{element.prod_price}}<span> EUR</span></td>
            <td>{{element.prod_category}}</td>
            <td>{{element.prod_description}}</td>
            <td><a class="m-auto btn btn-warning" href="{% url 'product_list' %}">back</a></td>
            {% if user.is_superuser %}
            <td><a class="m-auto btn btn-success" href="{% url 'update_prod' element.id %}">modify</a></td>
            <td><a class="m-auto btn btn-danger" href="{% url 'delete_prod' element.id %}">delete</a></td>
            {% endif %}
        </tr>
    
        {% endfor %}
    </table>
    <div class="text-center mt-5">
        <p class="fs-5 text-warning">location: products/templates/products/show_product.html</p>
        <p class="fs-5 text-warning">views -> show_product(request, p_id)</p>
        <p class="fs-5 text-warning">urls -> more/p_id/ -> views.show_product</p>
    </div>
</div>

{% endblock %}